node_red/flows.json
[
    {
        "id": "1346e6a3b6d1e018",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0cc7750c6891a979",
        "type": "ui-gauge",
        "z": "1346e6a3b6d1e018",
        "name": "",
        "group": "e95f0122302c69db",
        "order": 1,
        "value": "",
        "valueType": "num",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperatura",
        "units": "ºC",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "70",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5af806ac01eecc4",
        "type": "ui-chart",
        "z": "1346e6a3b6d1e018",
        "group": "e95f0122302c69db",
        "name": "",
        "label": "Temperatura",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fac063039c15e308",
        "type": "mqtt in",
        "z": "1346e6a3b6d1e018",
        "name": "",
        "topic": "+/dados/json",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "76bde38cd32c9151",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 320,
        "wires": [
            [
                "2a35e65ca402e21b",
                "7e5d6e6a095d86b8"
            ]
        ]
    },
    {
        "id": "2a35e65ca402e21b",
        "type": "function",
        "z": "1346e6a3b6d1e018",
        "name": "",
        "func": "// msg.payload já é um objeto JavaScript: \n// { temperatura: 25.5, umidade: 60.1, luminosidade: 450 }\n\n// Vamos criar três mensagens separadas, uma para cada valor.\n// A primeira irá para a saída 1, a segunda para a saída 2, e assim por diante.\n\n// Mensagem para a Temperatura (Saída 1)\nlet msg_temperatura = { payload: msg.payload.temperatura };\n\n// Mensagem para a Umidade (Saída 2)\nlet msg_umidade = { payload: msg.payload.umidade };\n\n// Mensagem para a Luminosidade (Saída 3)\nlet msg_luminosidade = { payload: msg.payload.luminosidade };\n\n\n// Retornamos um array com as três mensagens.\n// O Node-RED irá enviá-las para as saídas correspondentes.\nreturn [ msg_temperatura, msg_umidade, msg_luminosidade ];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "c5af806ac01eecc4",
                "0cc7750c6891a979"
            ],
            [
                "201b48c6d9105d21",
                "7c56eb6c5a7079e8"
            ],
            [
                "a61c12919af90b48",
                "bf2c2212132d5a1f"
            ]
        ]
    },
    {
        "id": "7e5d6e6a095d86b8",
        "type": "debug",
        "z": "1346e6a3b6d1e018",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "201b48c6d9105d21",
        "type": "ui-chart",
        "z": "1346e6a3b6d1e018",
        "group": "e95f0122302c69db",
        "name": "",
        "label": "Umidade",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 800,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a61c12919af90b48",
        "type": "ui-chart",
        "z": "1346e6a3b6d1e018",
        "group": "e95f0122302c69db",
        "name": "",
        "label": "Iluminância ",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 810,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "bf2c2212132d5a1f",
        "type": "ui-gauge",
        "z": "1346e6a3b6d1e018",
        "name": "",
        "group": "e95f0122302c69db",
        "order": 3,
        "value": "",
        "valueType": "num",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Iluminância ",
        "units": "Lux",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "1000",
                "color": "#ffc800"
            },
            {
                "from": "2000",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "3000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c56eb6c5a7079e8",
        "type": "ui-gauge",
        "z": "1346e6a3b6d1e018",
        "name": "",
        "group": "e95f0122302c69db",
        "order": 2,
        "value": "",
        "valueType": "num",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Umidade",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "60",
                "color": "#ffc800"
            },
            {
                "from": "80",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "e95f0122302c69db",
        "type": "ui-group",
        "name": "Group 1",
        "page": "84a9645a08c8d3eb",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "76bde38cd32c9151",
        "type": "mqtt-broker",
        "name": "Test_01",
        "broker": "192.168.1.104",
        "port": "4004",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "84a9645a08c8d3eb",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "dfd944ac665954d8",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "512a553b28620ac5",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "dfd944ac665954d8",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "512a553b28620ac5",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]